---
import Button from "../components/Button.astro";
import Base from "../layouts/Base.astro";

const donateHref = "https://account.venmo.com/u/tacomaporchfest";
---

<Base
    description="Tacoma Porchfest is a free, walkable music festival that takes place on porches in Tacoma, Washington."
>
    <section
        class="flex items-center justify-center bg-pf-red bg-cover bg-center pt-4 pb-8"
        style="background-image: url('/red-texture.webp');"
    >
        <img
            src="/Hero-Full-Lockup.svg"
            alt="Tacoma Porchfest 2026 — July 18 & 19 — Free Live Music"
            class="w-[85vw] max-w-2xl px-4 pb-8 pt-4 md:pb-16"
        />
    </section>
    <section class="bg-pf-yellow px-4">
        <div class="relative -top-8 mx-auto w-[95%] max-w-230 md:-top-12">
            <img
                src="/Rough-Container.svg"
                alt=""
                class="w-full absolute"
                width="1766"
                height="910"
            />
            <div class="flex flex-col items-center pt-1 md:pt-8 text-center z-10 relative">
                <h2 class="font-heading text-pf-red text-2xl md:text-5xl uppercase font-medium">
                    <span>Saturday, July 18</span>
                    <br />
                    <span>Sunday, July 19</span>
                </h2>
                <p
                    class="md:mt-2 mb-8 px-2 max-w-3xl font-heading text-pf-blue text-md md:text-2xl font-light"
                >
                    Porchfest is a free, walkable music festival that takes place on porches.
                    <br />
                    Come meet your neighbors and find your new favorite band!
                </p>
                <div class="mx-auto flex gap-4 w-[90%] justify-around flex-wrap -top-20">
                    <img
                        src="/image-1.avif"
                        alt=""
                        class="rounded-sm object-cover aspect-4/3 min-w-20 max-w-65"
                    />
                    <img
                        src="/image-2.avif"
                        alt=""
                        class="rounded-sm object-cover aspect-4/3 min-w-20 max-w-65"
                    />
                    <img
                        src="/image-3.avif"
                        alt=""
                        class="rounded-sm object-cover aspect-4/3 min-w-20 max-w-65"
                    />
                </div>
                <div class="text-pf-brown md:my-16 my-8 font-body">
                    <div class="text-sm font-light">
                        <p>
                            Tacoma Porchfest is organized by community members in partnership with
                            Central Neighborhood Council, North End Neighborhood Council, and the
                            Sixth Ave Business District.
                        </p>
                        <p>
                            The festival is made possible with funding from Tacoma Venues & Events
                            and individual donations from festival attendees.
                        </p>
                        <p>Tacoma Porchfest is a designated City Event.</p>
                    </div>
                    <h2 class="font-heading text-3xl md:text-5xl mt-8 mb-6">
                        This machine builds community.
                    </h2>
                    <div class="flex flex-wrap justify-center gap-6 items-center my-8">
                        <img
                            src="/city_of_tacoma.avif"
                            alt="City of Tacoma"
                            class="max-h-28 object-contain"
                        />
                        <img
                            src="/tacoma_venues_and_events.avif"
                            alt="Tacoma Venues & Events"
                            class="max-h-22 object-contain"
                        />
                        <img
                            src="/central_neighborhood_council.avif"
                            alt="Central Neighborhood Council"
                            class="max-h-22 object-contain"
                        />
                        <img
                            src="/north_end_neighborhood_council.avif"
                            alt="North End Neighborhood Council"
                            class="max-h-22 object-contain"
                        />
                        <img
                            src="/sixth_ave.avif"
                            alt="6th Ave Business District"
                            class="max-h-22 object-contain bg-white rounded-sm p-2"
                        />
                    </div>
                </div>
                <Button href={donateHref} text="Donate" external />
            </div>
        </div>
    </section>
</Base>
