---
import "../styles/global.css";
import FollowUs from "../components/FollowUs.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
    title?: string;
    description?: string;
}

const { title = "Tacoma Porchfest", description } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/PF-Icon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Londrina+Solid:wght@100;300;400;900&display=swap"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width, viewport-fit=cover" />
        <meta name="generator" content={Astro.generator} />
        {description && <meta name="description" content={description} />}
        <title>{title}</title>
    </head>
    <body class="font-sans bg-pf-cream">
        <Navbar />
        <div class="mt-12 md:mt-14">
            <slot />
        </div>
        <FollowUs />
    </body>
</html>
